@import url('reset.css');
@import url('typography.css');

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}

body {
background-color: #f8f8f8;
margin: auto;
width: 100%;
}




div#status-bar {
background: url('../img/status-bar-bg.png') repeat-x;
border-bottom: 2px groove #ffffff;
height: 40px;
width: 100%;
 }

div#status-bar-content {
margin: 10px auto 0px auto;
width: 800px;
}

div#status-bar-commands {
width: 400px;
}

form#search-form {
float: right;
width: 200px;
}

p#welcome {
float:left; 
padding-top: 7px;
width: 150px;
}

p#action-bar {
background: url('../img/action-bar-bg.png') no-repeat;
height: 14px;
margin-left:200px;
padding: 8px 28px;
width: 154px;
}

p#action-bar a:before { 
content: '| ';
}

p#action-bar a[title="License"]:after {
content: ' |';
}

form#search-form input[type="text"] {
background: url(../img/search-field.png) no-repeat;
border:none;
height:20px;
padding: 2px 0px 0px 30px;
width:170px;
}

form#search-form input[type="submit"] {
display: none;
}

/* Хэдер */

header {
background: url('../img/header-image.jpg') no-repeat;
background-color: #6eb9cc;
background-position: center 0px;
border-bottom: 2px ridge #ffffff;
height: 250px;
width: 100%;
}

div#logo {
margin: auto;
padding-top: 35px;
width: 800px;
}

/* Контент */

div#content-top-shadow{
width: 100%;
height: 20px;
background: linear-gradient(to bottom, #000, transparent);
background: -webkit-linear-gradient(to bottom, #000, transparent);
background: -moz-linear-gradient(to bottom, #000, transparent);
background: -o-linear-gradient(to bottom, #000, transparent);
background: -ms-linear-gradient(to bottom, #000, transparent);
opacity: 0.15;
-webkit-opacity: 0.15;
-moz-opacity: 0.15;
-o-opacity: 0.15;
-ms-opacity: 0.15;
filter: alpha(opacity=15);
}

div#content-bottom-shadow{
width: 100%;
height: 20px;
background: linear-gradient(to top, #000, transparent);
background: -webkit-linear-gradient(to top, #000, transparent);
background: -moz-linear-gradient(to top, #000, transparent);
background: -o-linear-gradient(to top, #000, transparent);
background: -ms-linear-gradient(to top, #000, transparent);
opacity: 0.15;
-webkit-opacity: 0.15;
-moz-opacity: 0.15;
-o-opacity: 0.15;
-ms-opacity: 0.15;
filter: alpha(opacity=15);
}

div#content {
margin: auto;
padding-bottom: 50px;
position: relative;
width: 800px;
}

/* Центральный блок */

div#page-wrapper {
background-color: #ffffff;
border: 1px solid #bababa;
clear: both;
height: 233px;
margin-top: 75px;
overflow: hidden;
padding: 15px;
width: 768px;
}

div#slideshow {
border-right: 1px solid #b2b2b2;
float: left;
padding-right: 15px;
width: 375px;
}

div#slides {
border: 1px solid #a7a7a7;
height: 200px;
width: 370px;
}

div#slides a.thumb {
display:none;
}

div#slides a.default-slide {
display:block;
}

div#slideshow-commands {
background-color: #707070;
height: 19px;
left: 15px;
padding: 3px 25px;
position: relative;
width: 290px; 
border-radius: 0 0 5px 5px;
}

a#previous-slide {
display: block;
float: left;
margin-top: 2px;
text-indent: -9000px;
width: 0;
height: 0;
border-top: 8px solid transparent;
border-right: 16px solid white;
border-bottom: 8px solid transparent;
}

a#next-slide {
display: block;
float: right;
margin-top: 2px;
text-indent: -9000px;
width: 0;
height: 0;
border-top: 8px solid transparent;
border-left: 16px solid white;
border-bottom: 8px solid transparent;
}

div#slideshow-commands h4 {
margin-top:3px;
width:100%;
}

div#message {
margin-left: 410px;
width: 350px;
}

div#message h3 {
margin-bottom: 20px;
}

p#contact-info span {
display: block;
}

span#phone {
background: url('../img/phone-icon.png') no-repeat 0px 1px;
float: left;
margin-top: 25px;
padding-left: 35px;
width: 125px;
}

span#address {
background:url('../img/address-icon.png') no-repeat 150px 25px;
padding:5px 0px 0px 195px;
}

ul#tabs {
margin-top: 30px;
position: absolute;
right: 0px;
top: -65px;
}


ul#tabs li {
background: url('../img/tabs-sprite.png') no-repeat;
float: left;
height: 35px;
margin-right: 1px;
width: 70px;
}

ul#tabs li a {
display: block;
height: 100%;
text-indent: -9000px;
width: 100%;
}

ul#tabs li#previous {
background-position: 0px 0px;
width:80px;
}

ul#tabs li#previous:hover {
background-position: 0px -40px;
}

ul#tabs li#previous.current, ul#tabs li#previous:active {
background-position: 0px -80px;
}

ul#tabs li#home {
background-position: -80px 0px;
}

ul#tabs li#home:hover {
background-position: -80px -40px;
}

ul#tabs li#home.current, ul#tabs li#home:active {
background-position: -80px -80px;
}

ul#tabs li#portfolio {
background-position: -150px 0px;
}

ul#tabs li#portfolio:hover {
background-position: -150px -40px;
}

ul#tabs li#portfolio.current, ul#tabs li#portfolio:active {
background-position: -150px -80px;
}

ul#tabs li#about {
background-position: -220px 0px;
}

ul#tabs li#about:hover {
background-position: -220px -40px;
}

ul#tabs li#about.current, ul#tabs li#about:active {
background-position: -220px -80px;
}

ul#tabs li#contact {
background-position: -290px 0px;
}

ul#tabs li#contact:hover {
background-position: -290px -40px;
}

ul#tabs li#contact.current, ul#tabs li#contact:active {
background-position: -290px -80px;
}

ul#tabs li#next {
background-position: -360px 0px;
width: 65px;
}

ul#tabs li#next:hover {
background-position: -360px -40px;
}

ul#tabs li#next.current, ul#tabs li#next:active {
background-position: -360px -80px;
}

/* Блог */

div#blog {
float: left;
margin: 50px 15px 0px 0px;
width: 385px;
position: relative;
top: -35px;
}

div#blog h4.module-header-bar {
background-color: #000;
opacity: 0.5;
-webkit-opacity: 0.5;
-moz-opacity: 0.5;
-o-opacity: 0.5;
-ms-opacity: 0.5;
border-radius: 5px 5px 5px 5px;
height: 29px;
margin-bottom: 15px;
margin-left: 5px;
width: 380px;
}

div#title-blog {
padding-top: 10px;
}

div#blog img#paper{
position: relative;
z-index: 2;
top: 40px;
}

div#blog div.blog-entry {
margin-left:15px;
}

div#blog div.blog-entry h5 {
float:left;
width:200px;
}

div#blog div.blog-entry blockquote {
clear:both;
padding:10px 0px 10px 15px;
}

div#blog div.blog-entry p.meta {
padding-top:4px;
}

p#read-more-wrapper {
float:right;
margin-top:10px;
width:215px;
}

